@font-face {
    font-family: 'Vodafone';
    src: url('/VodafoneVF_Wght_W.woff2') format('woff2');
}

:root {
    --bs-body-font-size: 1.125rem;
    --bs-danger-rgb: 230, 0, 0;
}

html,
body {
    -height: 100%;
}

body {
    font-family: 'Vodafone', var(--bs-body-font-family);
    background-image: url(/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.form-select-sm,
.form-control-sm {
    font-size: 0.9375rem;
}

.list-group {
    --bs-list-group-active-bg: #e60000;
    --bs-list-group-active-border-color: rgb(from var(--bs-list-group-active-bg) calc(r - 60) g b);
}

