.logo {
    width: 1em;
}

.blur-background {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.config-section,
.input-section {
    border-bottom: 1px solid #ccc;
}

.config-section :global(.col + .col) {
    border-left: 1px solid #ccc;
}

.input-section {
    position: relative;
}

.input-section:last-child {
    border-bottom: 0;
}

.input-section :global(.input-group .form-control),
.input-section :global(.input-group .form-select) {
    line-height: 2;
}

.btn-group-operator {
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 99;
    transform: translate(-50%, -50%);
}

.btn-operator {
  width: 2em;
}
